@import url(styles/header.css);
@import url(styles/footer.css);
@import url(styles/main.css);

:root {
    --texto-secundario: #ffffff;
    --texto-padrao: #000000;
    --fundo-secundario: #069b06;
    --fundo-padrao: #e0e0e0;
    --texto-referencia: #222222;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--fundo-padrao);
    color: var(--texto-padrao);
    font-family: 'PT Sans';
    font-size: 1em;
    font-weight: 400;
}
