/* estilos que não mudam, independente do dispositivo e de sua orientação */
.rodape {
    background-color: var(--fundo-secundario);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px black solid;
}
.rodape_item {
    color: var(--texto-secundario);
}
.rodape_item:hover {
    color: #4819c9;
}