/* estilos que não mudam, independente do dispositivo e de sua orientação */
.rodape {
    background-color: var(--fundo-secundario);
    
    align-items: center;
    padding: 1vh 0;
    border-top: 2px black solid;
}
.rodape_lista {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10vw;
}
.rodape_link {
    text-decoration: none;
    color: var(--texto-secundario);
}
.rodape_link:hover {
    color: #4819c9;
}