@media screen and (min-width: 920px) { /* PC, Notebook ou Tablet deitado */
    .cabecalho {
        display: grid;
        grid-template-columns: 40% 60%;
        background-image: url("../img/gandhi.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-color: black;
        border-bottom: 3px var(--fundo-secundario) solid;
        height: 50vh;
        align-items: center;
        text-align: center;
    }
    .header_titulo {
        color: var(--texto-secundario);
        font-weight: 400;
        font-size: 1.5em;
        padding: 0.5em;
    }
    .citacao {
        text-align: center;
        width: 50%;
        font-size: 1em;
        color: var(--texto-secundario);
        margin-left: 3em;
    }
}
@media screen and (max-width: 460px) and (orientation: portrait) { /* celular em pé */
    .cabecalho {
        display: grid;
        grid-template-rows: 30% 70%;
        background-image: url("../img/gandhi.png"); /* Fonte: https://www.iconspng.com/image/150688/gandhi */
        background-repeat: no-repeat;
        background-position: bottom;
        background-color: black;
        border-bottom: 3px black solid;
        height: 50vh;
        text-align: center;
    }
    .header_titulo {
        color: var(--texto-secundario);
        font-weight: 400;
        font-size: 1.5em;
        align-self: center;
    }
    .citacao {
        text-align: center;
        width: 40%;
        font-size: 1em;
        color: white;
    }
}
@media screen and (max-width: 915px) and (orientation: landscape) { /* celular deitado */
    .cabecalho {
        display: grid;
        background-image: url("../img/gandhi.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-color: black;
        border-bottom: 3px black solid;
        height: 80vh;
        align-items: center;
        text-align: center;
    }
    .header_titulo {
        color: var(--texto-secundario);
        font-weight: 400;
        font-size: 1.5em;
        margin-right: 3em;
    }
    .citacao {
        margin: auto 0;
        text-align: center;
        width: 60%;
        font-size: 1.1em;
        color: var(--texto-secundario);
    }
}
@media screen and (min-width: 461px) and (max-width: 915px) and (orientation: portrait) { /* tablet em pé */
    .cabecalho {
        display: grid;
        grid-template-rows: 30% 70%;
        background-image: url("../img/gandhi.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-color: black;
        border-bottom: 3px black solid;
        height: 40vh;
        align-items: center;
        text-align: center;
    }
    .header_titulo {
        color: var(--texto-secundario);
        font-weight: 400;
        font-size: 1.75em;
    }
    .citacao {
        text-align: center;
        width: 50%;
        font-size: 1.1em;
        color: var(--texto-secundario);
        margin-left: 10%;
    }
}